header {
  background-color: rgb(147, 198, 245);
  display: flex;
  margin-bottom: 25px;
  max-width: 100%;
}

.text {
  color: white;
  font-size: 50px;
}

footer {
  background-color: rgb(147, 198, 245);
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: fixed;
  width: 100%;
}
